.suggestions {

  .title {
    text-align: left;
    font: normal normal medium 32px/38px Rubik;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;

    margin-top: 0;
    margin-bottom: 32px;
  }
}