// Post Container

.post-container {
  .postImg {
    max-width: 100%;
    opacity: 1;
  }
  .avatar-icon {
    width: 60px;
    height: 60px;
  }
  .post-text {
    text-align: left;
    font: normal normal 300 16px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  } 
}


