
form {
  &.form-inline {
    .btn-outline-success {
      border-color: #141518;
      background-color: #141518;
    }

    .form-control {
      background-color: #141518;
      // min-width: 364px;
      // max-width: 664px;
      /* box-shadow: 0 0 6px #4B37FF33; */
      border-radius: 10px;
      color: #4B37FF;
      border-color: #141518;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      // margin-left: 0;

    }
  }
}

.header-nav {
  //min-width: 316px;
  //max-width: 316px;
}
.search-btn {

  &:hover {}
  &:active {}
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(75, 55, 255, 0.5);
  }


  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active,
  .show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
}

.header-nav {
  a {
    margin-left: 24px;

    &:hover, &:active, &:focus {


      img {
        //-webkit-filter: sepia(1);
        //filter: sepia(1);

        -webkit-filter: hue-rotate(20deg);
        filter: hue-rotate(20deg);
      }
    }
  }
}